---
// src/pages/index.astro (Updated)
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import OurSolutionsSection from "../components/OurSolutionsSection";
// import OurTeamSection from '../components/OurTeamSection.astro';
import OurTeamSection from "../components/OurTeamSection";
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
import WhyChooseDayOneSection from "../components/WhyChooseDayOneSection";
import BlogPreview from "../components/BlogPreview";
import { getFeaturedArticles } from '../utils/storyblok';

// Fetch featured blog articles for homepage
const featuredBlogData = await getFeaturedArticles(3);
const featuredArticles = featuredBlogData?.stories || [];
---

<Layout>
  <div class="min-h-screen font-serif">
    <Header />
    <Hero />
    <OurSolutionsSection client:load />
    <!-- <OurTeamSection /> -->
    <OurTeamSection client:load />
    <WhyChooseDayOneSection client:load />
    
    <!-- Blog Preview Section -->
    {featuredArticles.length > 0 && (
      <BlogPreview client:load articles={featuredArticles} />
    )}
    
    <ContactSection />
    <Footer />
  </div>
</Layout>