---
// src/components/NavLinks.astro (Fixed)
import { useTranslations } from '../utils/i18n';

const { t } = useTranslations();

export interface Props {
  classList: string;
}

const { classList } = Astro.props;
---

<a href="/#our-solutions" class={classList} data-translate-key="navigation.ourSolutions" title={t('navigation.ourSolutions')}>{t('navigation.ourSolutions')}</a>
<a href="/#our-team" class={classList} data-translate-key="navigation.ourTeam" title={t('navigation.ourTeam')}>{t('navigation.ourTeam')}</a>
<a href="/blog" class={classList} data-translate-key="navigation.blog" title={t('navigation.blog')}>{t('navigation.blog')}</a>
<!-- <a href="/#contact" class={classList}>Contact</a> -->